.logo {
	font-family: 'Feijoa Display'; 
	font-weight: normal; 
	font-style: normal;
	color:#474747;
	font-size:26px;
}

.header {
	background-color: white;
	padding:80px;
	min-height:75vh;
	clip-path:polygon(0 0, 100% 0, 100% 80%,0 100%);
}

.job-title {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size: 14px;
	color: #c3c3c3;
	display: inline-block;
}

.job-title p {
	float:right;
}